<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.lbs.loan.business.base.BaseDao">

    <!-- 数据隔离公共条件配置 -->
	<sql id="dataIsolationSql">
		<if test="countrycode != null and countrycode !=''">
			and CountryCode = #{countrycode}
		</if>
		<if test="clearingcode != null and clearingcode !=''">
			and ClearingCode = #{clearingcode}
		</if>
		<if test="branchcode != null and branchcode !=''">
			and BranchCode = #{branchcode}
		</if>
		<if test="sandboxid != null and sandboxid !=''">
			and SandBoxId = #{sandboxid}
		</if>
		<if test="dockerid != null and dockerid !=''">
			and DockerId = #{dockerid}
		</if>
	</sql>

</mapper>
 
 